<!-- Wrapper -->
<div id="wrapper">

<!-- Header -->
<header id="header"{% if page.layout == "landing" %} class="alt style2"{% endif %}{% if page.layout == "home" %} class="alt"{% endif %}>
	<a href="/" class="logo"><strong>{{ site.title }}</strong></a>
	<nav>
		<a href="#menu">Menu</a>
	</nav>
</header>

<!-- Menu -->
<nav id="menu">
	<ul class="links">
		{% assign sorted_pages = site.pages | sort:"tile_order" %}
        {% for page in sorted_pages %}
		    {% if page.layout == "home" %}
		        <li><a href="/">{{ page.title }}</a></li>
	    	{% endif %}
		{% endfor %}
		{% for page in sorted_pages %}
		    {% if page.layout != "home" and page.nav-menu == true %}
		        <li><a href="{{ page.url }}">{{ page.title-nav-menu | default: page.title }}</a></li>
		    {% endif %}
		{% endfor %}
	</ul>
</nav>
